[submodule "pomodoro-ai"]
	path = pomodoro-ai
	url = https://github.com/ElishebaW/goProjects.git
[submodule "multi_ai_agent_projects"]
	path = multi_ai_agent_projects
	url = https://github.com/ElishebaW/multi-ai-agent-systems-projects.git
[submodule "SpringAIDemo"]
	path = SpringAIDemo
	url = git@github.com:ElishebaW/spring-ai-local-llm.git
[submodule "time_analyzer_ai"]
	path = time_analyzer_ai
	url = git@github.com:ElishebaW/time-analyzer-ai.git
[submodule "berkshire-chatbot"]
	path = berkshire-chatbot
	url = https://github.com/ElishebaW/berkshire-chatbot.git
